body {
    background: var(--bg-color-mobile, #F3F3F3);
    color: rgb(0, 0, 0);

}

body a {
    color: green;
    cursor: pointer;
}

a:visited {
    color: darkgreen;
}

a:hover {
    font-weight: bold;
}

#facebook_icon {
    /* Vector */

    position: absolute;
    left: 78.75%;
    right: 20.5%;
    top: 0.81%;
    bottom: 98.29%;

    background: #FFFFFF;
}

header {
    /* background-color: #393280; */
    display: flex;
    width: 26.875rem;
    padding: 2.8125rem 1.5rem 1.25rem 1.5rem;
    align-items: center;
    gap: 2.8125rem;
    background: var(--bg-color-website, #FFF);
    text-transform: uppercase;
}

#search_input {
    display: flex;
    /* width: 15.3125rem; */
    padding: 0.5rem 1.875rem 0.5rem 0.9375rem;
    align-items: center;
    gap: 1.125rem;
    flex-shrink: 0;

    border-radius: 0.75rem;
    background: #EAEAEA;
}

#search_text {
    color: #959494;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

tr.top {
    background-color: gold;
}

em {
    background-color: lightblue;
}

#the_most_important {
    background-color: gold;
    text-transform: uppercase;
}

h2 {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

h2+p:first-child::first-letter {
    font-size: x-large;
}

tr:hover {
    background-color: rgb(223, 223, 145);
}

#navigation_bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#navigation_bar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: auto;
}

/* Change the color of links on hover */
#navigation_bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#navigation_bar a.active {
    background-color: #04AA6D;
    color: white;
}

#navigation_bar a:first-child {
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: lightcoral;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

::selection {
    background: rgba(255, 0, 0, 0.226);
}

input {
    height: 20px;
    border-color: lightgray;
}

input#name {
    height: 50px;
}

.featuredB {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    margin-left: 1.5rem;
    display: flex;
    width: 25.375rem;
    align-items: center;
    gap: 0.375rem;
}

.featuredB div {
    width: 30.4375rem;
    height: 10.125rem;
    flex-shrink: 0;
    border-radius: 0.8015rem;
    background: var(--bg-color-website, #FFF);

}

.featured_name {
    display: flex;
    width: 25.375rem;
    align-items: center;
    gap: 0.375rem;
    color: var(--Text, #0D0842);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85494rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.34rem 0rem 1.33rem 2.14rem;
}

.featured_text {
    width: 19.5535rem;
    height: 8.261rem;
    flex-shrink: 0;
}

.fLine {
    display: block;
    margin-left: 2rem;
    width: 2.49488rem;
    height: 0.10688rem;
    background-color: #FFCE1A;
}

.Pdescription {
    width: 19.26044rem;
    color: var(--Text, #0D0842);
    font-family: Nunito Sans;
    font-size: 0.74806rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.33rem 9.28rem 1.06rem 1.9rem;
}

.featuredB img {
    position: absolute;
    margin: 0.53rem 0.5rem 0.53rem 23.2rem;
    width: 6.73619rem;
    height: 9.05919rem;
    flex-shrink: 0;
    border-radius: 0.29325rem;
    background: url(<path-to-image>), lightgray 0px -6.463px / 100% 108.917% no-repeat;
}

.top_selling select {
    display: flex;
    width: 10.625rem;
    height: 2rem;
    padding: 0.3125rem 0.625rem;
    align-items: center;
    gap: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.45213rem;
    border: 1px solid rgba(0, 12, 102, 0.10);
    background: rgba(234, 234, 234, 0.90);
    backdrop-filter: blur(67.81915283203125px);
}

.interactive_slider {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    margin-left: 24px;
}

.Sproduct {
    width: 401px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--bg-color-website, #FFF);
}



.sInfo {
    width: 370.465px;
    height: 209px;
    flex-shrink: 0;
    margin: 10px 15px;
    display: flex;
}

.sInfo>p:first-of-type {
    position: absolute;
    width: 190.465px;
    height: 14px;
    flex-shrink: 0;
    color: var(--Text, #0D0842);

    /* Mobile/Product name */
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 50px 0px 145px 180px
}

.sInfo>p:nth-of-type(2) {
    position: absolute;
    width: 184.525px;
    height: 45px;
    flex-shrink: 0;
    color: rgba(13, 8, 66, 0.52);

    /* Mobile/Desc for news, product */
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 79px 6px 85px 180px;
}

.sInfo>p:nth-of-type(3) {
    position: absolute;
    color: var(--Text, #0D0842);
    text-align: center;
    /* Mobile/Product price */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 139px 166px 65px 185px;
    width: 50px;

}

.buttons {
    margin-top: 170px;
    margin-left: 17px;
}

.create_account {
    border-top: #0D0842 solid;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.create_account>div {
    color: var(--Text, #0D0842);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 345px;
    padding-bottom: 15px;
}

.create_account>p {
    color: rgba(13, 8, 66, 0.52);
    text-align: center;
    /* Mobile/Desc for news, product */
    font-family: Nunito Sans;
    font-size: 12;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 366px;
}

.create_account>button {
    display: inline-flex;
    padding: 5px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--General-color, #FFCE1A);
    color: var(--bg-color-website, #FFF);
    text-align: center;
    /* Mobile/Buttons */
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    border: none;
}

footer {
    background: linear-gradient(285deg, #FEAF38 48.52%, #FFCE1A 100.93%);
    margin-top: 35px;
    padding-bottom: 35px;
}

.links {
    position: relative;
    text-align: center;
    top: 20px;
}

.links>p {
    color: var(--Text-color-for-black-BG, #FFFFF8);
    text-align: center;
    /* Mobile/Buttons */
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.social {
    margin-top: 40px;
    display: flex;
    width: 172px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto
}